<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
  </head>
  <body>
    <%- include("header") %>
    <div class="h-screen w-full flex flex-row">
      <section class="w-[60%] h-screen flex mt-[4rem] justify-end">
        <img
          src="/images/sign.jpg  "
          alt="sign"
          class="h-[70%] w-[90%] object-cover"
        />
      </section>
      <section class="w-[40%] h-screen">
        <div class="w-full h-full flex justify-start mt-[7rem]">
          <form
            action="/signUp"
            method="POST"
            class="h-[55%] w-[70%] bg-blue-500 p-[0.8rem] rounded-md"
          >
            <h1 class="text-2xl text-center mb-[12px] text-white font-[600]">
              SignUp Form
            </h1>
            <input
              type="text"
              name="username"
              placeholder="Enter your username"
              class="w-full h-[2.5rem] text-[1.1rem] bg-white rounded-md px-[12px] outline-none"
            />
            <input
              type="email"
              name="email"
              placeholder="Enter your email"
              class="w-full h-[2.5rem] text-[1.1rem] bg-white mt-[12px] rounded-md px-[12px] outline-none"
            />
            <input
              type="password"
              name="password"
              placeholder="Enter your password"
              class="w-full h-[2.5rem] text-[1.1rem] bg-white mt-[12px] rounded-md px-[12px] outline-none"
            />
            <input
              type="password"
              name="confirmpassword"
              placeholder="Re-type your password"
              class="w-full h-[2.5rem] text-[1.1rem] mt-[12px] bg-white rounded-md px-[12px] outline-none"
            />
            <button
              type="submit"
              class="w-full h-[2.5rem] text-[1.2rem] font-[600] mt-[12px] bg-yellow-400 rounded-md px-[12px] outline-none"
            >
              SignUp
            </button>
            <div class="flex justify-center gap-[12px] mt-[10px] text-[1.1rem]">
                <p>If already have a account.</p>
                <a class="text-white font-[700] text-[1.2rem]" href="/logIn">LogIn</a>
            </div>
          </form>
        </div>
      </section>
    </div>
  </body>
</html>
